<div class="newsletter-form">
	<h4>SIGN UP</h4>
    <label for="newsletter-field">Join our mailing list to receive Armstrong news and product updates</label>
	<fieldset class="inline-form newsletter-form">
	    <legend class="is-vishidden">SIGN UP</legend>
	    <div class="inline-container">
	   		<input type="email" placeholder="Enter your email address" id="newsletter-field" class="newsletter-field" />
	    	<button class="newsletter-submit narrow">JOIN</button>
		</div>
	</fieldset>
</div>
