<h4>Primary Color Palette</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color-primary-accent"></span>
		<span class="sg-label">$primary-accent</span>
	</li>
	<li>
		<span class="sg-swatch color-secondary-accent"></span>
		<span class="sg-label">$secondary-accent</span>
	</li>
	<li>
		<span class="sg-swatch color-white"></span>
		<span class="sg-label">$white</span>
	</li>
	<li>
		<span class="sg-swatch color-light-gray"></span>
		<span class="sg-label">$light-gray</span>
	</li>
	<li>
		<span class="sg-swatch color-stroke-color"></span>
		<span class="sg-label">$stroke-color</span>
	</li>
	<li>
		<span class="sg-swatch color-dark-gray"></span>
		<span class="sg-label">$dark-gray</span>
	</li>
	
</ul>

<h4>Typography Color Palette</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color-default-text"></span>
		<span class="sg-label">$default-text-color</span>
	</li>
	<li>
		<span class="sg-swatch color-gray-text"></span>
		<span class="sg-label">$gray-text</span>
	</li>
</ul>


<h4>Link Color Palette</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color-primary-link"</span>
		<span class="sg-label">$primary-link</span>
	</li>
	<li>
		<span class="sg-swatch color-primary-link-hover"></span>
		<span class="sg-label">$primary-link-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-secondary-link"></span>
		<span class="sg-label">$secondary-link</span>
	</li>
	<li>
		<span class="sg-swatch color-secondary-link-hover"></span>
		<span class="sg-label">$secondary-link-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-tertiary-link"></span>
		<span class="sg-label">$tertiary-link</span>
	</li>
	<li>
		<span class="sg-swatch color-tertiary-link-hover"></span>
		<span class="sg-label">$tertiary-link-hover</span>
	</li>
</ul>

<h4>Misc colors</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color-disabled"></span>
		<span class="sg-label">$disabled</span>
	</li>
	<li>
		<span class="sg-swatch color-error"></span>
		<span class="sg-label">$error</span>
	</li>
	<li>
		<span class="sg-swatch color-valid"></span>
		<span class="sg-label">$valid</span>
	</li>
	<li>
		<span class="sg-swatch color-highlight"></span>
		<span class="sg-label">$highlight</span>
	</li>
</ul>

<h4>Social Icon Colors</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch color-social-default"></span>
		<span class="sg-label">$social-default</span>
	</li>
	<li>
		<span class="sg-swatch color-facebook-hover"></span>
		<span class="sg-label">$facebook-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-twitter-hover"></span>
		<span class="sg-label">$twitter-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-gplus-hover"></span>
		<span class="sg-label">$gplus-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-linkedin-hover"></span>
		<span class="sg-label">$linkedin-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-pinterest-hover"></span>
		<span class="sg-label">$pinterest-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-instagram-hover"></span>
		<span class="sg-label">$instagram-hover</span>
	</li>
	<li>
		<span class="sg-swatch color-youtube-hover"></span>
		<span class="sg-label">$youtube-hover</span>
	</li>
</ul>