<h4>Primary Color Palette</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #e2231a;"></span>
		<span class="sg-label">$primary-accent</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #efefef;"></span>
		<span class="sg-label">$light-gray</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">$white</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">$black</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #b2b2b2;"></span>
		<span class="sg-label">$stroke-color</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #dedede;"></span>
		<span class="sg-label">$secondary-stroke-color</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">$dark-gray</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">$medium-gray</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #ececec;"></span>
		<span class="sg-label">$light-gray</span>
	</li>
</ul>

<h4>Typography Color Palette</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">$default-text-color</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">$gray-text</span>
	</li>
</ul>