<p class="font-primary">Primary font - $font: "Exo 2", Helvetica, Arial, sans-serif</p>
<p class="font-primary font-medium">Primary font medium - font-family: $font; font-weight: $font-medium</p>
<p class="font-primary font-bold">Primary font medium - font-family: $font; font-weight: $font-bold</p>
<p class="font-primary font-heavy">Primary font bold - font-family: $font; font-weight: $font-heavy</p>
<p class="font-secondary">Secondary font -- $font-secondary: Helvetica, Arial, sans-serif</p>
<p class="font-header">Header font - $font-header: "norwester", Helvetica, Arial, sans-serif</p>
<p class="font-header font-bold">Header font bold - font-family: $font-header; font-weight: $font-bold</p>
