<p class="font-primary">Primary font - $font-primary</p>
<p class="font-primary font-italic">Primary font italic - $font-primary; font-style: $font-italic</p>
<p class="font-primary font-light">Primary font light - font-family: $font-primary; font-weight: $font-light</p>
<p class="font-primary font-light font-italic">Primary font light italic - font-family: $font-primary; font-weight: $font-light; font-style: $font-italic</p>
<p class="font-primary font-medium">Primary font medium - font-family: $font-primary; font-weight: $font-medium</p>
<p class="font-primary font-medium font-italic">Primary font medium italic - font-family: $font-primary; font-weight: $font-medium; font-style: $font-italic</p>
<p class="font-primary font-bold">Primary font bold - font-family: $font-primary; font-weight: $font-bold</p>
<p class="font-primary font-bold font-italic">Primary font bold italic - font-family: $font-primary; font-weight: $font-bold; font-style: $font-italic</p>
<p class="font-primary font-heavy">Primary font heavy - font-family: $font-primary; font-weight: $font-heavy</p>
<p class="font-primary font-heavy font-italic">Primary font heavy italic - font-family: $font-primary; font-weight: $font-heavy; font-style: $font-italic</p>
<p class="font-secondary">Secondary font -- $font-secondary</p>
<p class="font-header">Header font - $font-header</p>
<p class="font-header font-bold">Header font bold - font-family: $font-header; font-weight: $font-bold</p>
<p class="font-header font-bold font-italic">Header font bold italic - font-family: $font-header; font-weight: $font-bold; font-style: $font-italic</p>