<p class="hide-small">This text is hidden on smaller screens</p>

<p class="hide-med hide-large"><em>This text is only visible on smaller screens</em></p>

<p class="hide-med">This text is hidden on medium screens only</p>

<p class="hide-small hide-large"><em>This text is only visible on medium screens</em></p>

<p class="hide-large">This text is hidden on large screens</p>

<p class="hide-small hide-med"><em>This text is only visible on large screens</em></p>

<p>We've added a class for content that is visible to screen readers only. It's here, but you can't see it. Unless you're using a screen reader. View source to see the code.<span class="is-vishidden">This text is only "seen" by screenreaders to assist with accessibility.</span></p>