<section class="striped-container">
    <div class="row" data-equalizer data-equalize-by-row="true">
    	<div class="column small-12 large-4">
    		<div class="equal" data-equalizer-watch>
		    	{{> molecules-content-card }}
		    </div>
	    </div>
	    <div class="column small-12 large-8">
	    	<div class="equal" data-equalizer-watch>
		        {{> atoms-video }}
		    </div>
	    </div>

    </div>
</section>
