<section class="striped-container wide">
    <div class="row" data-equalizer>
    	<div class="column small-12 large-4">
            {{> molecules-content-card-small-link-list }}
	    </div>
	    <div class="column small-12 large-4">
            {{> molecules-content-card-small-bold-text }}
	    </div>
        <div class="column small-12 large-4">
            {{> molecules-content-card-small }}
	    </div>
    </div>
</section>