<img src="http://lorempixel.com/251/251/business/" alt="product thumbnail large rendition" /><br /><br />
<img src="http://lorempixel.com/158/158/business/" alt="product thumbnail medium rendition" /><br /><br />
<img src="http://lorempixel.com/100/100/business/" alt="product thumbnail small rendition" />