<div class="row">
	<br /><br />
	<div class="small-12 medium-6 large-4 columns">
		<h5>Site Iconography</h5>
			<span class="icon-search"></span> icon-search<br />

		<br />
		<h5>Functions Icons</h5>
			<span class="icon-ok"></span> icon-ok<br />
			<span class="icon-remove"></span> icon-remove<br />
			<span class="icon-zoom-in"></span> icon-zoom-in<br />
			<span class="icon-zoom-out"></span> icon-zoom-out<br />
			<span class="icon-power-off"></span> icon-power-off <br />
			<span class="icon-off"></span> icon-off<br />
			<span class="icon-signal"></span> icon-signal<br />
			<span class="icon-gear"></span> icon-gear<br />
			<span class="icon-cog"></span> icon-cog<br />
			<span class="icon-trash"></span> icon-trash<br />
			<span class="icon-file-alt"></span> icon-file-alt<br />
			<span class="icon-time"></span> icon-time<br />
		<br />
		<h5>Currency</h5>
		
		<br />
		<h5>Likes and Ratings</h5>
			<span class="icon-heart"></span> icon-heart<br />
			<span class="icon-star"></span> icon-star<br />
			<span class="icon-star-empty"></span> icon-star-empty<br />
		
	</div>
	<div class="small-12 medium-6 large-4 columns">
		<h5>Arrows and Dividers</h5>
		
		<br />

		<h5>Social Icons</h5>
			<span class="icon-user"></span> icon-user<br />
			<span class="icon-film"></span> icon-film<br />
	</div>
	<div class="small-12 medium-6 large-4 columns">
		<h5>Misc</h5>
			<span class="icon-glass"></span> icon-glass <br />
			<span class="icon-music"></span> icon-music<br />

		<h5>Product Iconography</h5>
		add product specific icons<br>
		
	</div>

</div>
<div class="row">



<span class="icon-envelope-alt"></span> icon-envelope-alt<br />


<span class="icon-th-large"></span> icon-th-large<br />
<span class="icon-th"></span> icon-th<br />
<span class="icon-th-list"></span> icon-th-list<br />

<span class="icon-home"></span> icon-home<br />

<span class="icon-road"></span> icon-road<br />
<span class="icon-download-alt"></span> icon-download-alt<br />
<span class="icon-download"></span> icon-download<br />
<span class="icon-upload"></span> icon-upload<br />
<span class="icon-inbox"></span> icon-inbox<br />
<span class="icon-play-circle"></span> icon-play-circle<br />
<span class="icon-rotate-right"></span> icon-rotate-right<br />
<span class="icon-repeat"></span> icon-repeat<br />
<span class="icon-refresh"></span> icon-refresh<br />
<span class="icon-list-alt"></span> icon-list-alt<br />
<span class="icon-lock"></span> icon-lock<br />
<span class="icon-flag"></span> icon-flag<br />
<span class="icon-headphones"></span> icon-headphones<br />
<span class="icon-volume-off"></span> icon-volume-off<br />
<span class="icon-volume-down"></span> icon-volume-down<br />
<span class="icon-volume-up"></span> icon-volume-up<br />
<span class="icon-qrcode"></span> icon-qrcode<br />
<span class="icon-barcode"></span> icon-barcode<br />
<span class="icon-tag"></span> icon-tag<br />
<span class="icon-tags"></span> icon-tags<br />
<span class="icon-book"></span> icon-book<br />
<span class="icon-bookmark"></span> icon-bookmark<br />
<span class="icon-print"></span> icon-print<br />
<span class="icon-camera"></span> icon-camera<br />
<span class="icon-font"></span> icon-font-icon<br />
<span class="icon-bold"></span> icon-bold<br />
<span class="icon-italic"></span> icon-italic<br />
<span class="icon-text-height"></span> icon-text-height<br />
<span class="icon-text-width"></span> icon-text-width<br />
<span class="icon-align-left"></span> icon-align-left<br />
<span class="icon-align-center"></span> icon-align-center<br />
<span class="icon-align-right"></span> icon-align-right<br />
<span class="icon-align-justify"></span> icon-align-justify<br />
<span class="icon-list"></span> icon-list<br />
<span class="icon-indent-left"></span> icon-indent-left<br />
<span class="icon-indent-right"></span> icon-indent-right<br />
<span class="icon-facetime-video"></span> icon-facetime-video<br />
<span class="icon-picture"></span> icon-picture<br />
<span class="icon-pencil"></span> icon-pencil<br />
<span class="icon-map-marker"></span> icon-map-marker<br />
<span class="icon-adjust"></span> icon-adjust<br />
<span class="icon-tint"></span> icon-tint<br />
<span class="icon-edit"></span> icon-edit<br />
<span class="icon-share"></span> icon-share<br />
<span class="icon-check"></span> icon-check<br />
<span class="icon-move"></span> icon-move<br />
<span class="icon-step-backward"></span> icon-step-backward<br />
<span class="icon-fast-backward"></span> icon-fast-backward<br />
<span class="icon-backward"></span> icon-backward<br />
<span class="icon-play"></span> icon-play<br />
<span class="icon-pause"></span> icon-pause<br />
<span class="icon-stop"></span> icon-stop<br />
<span class="icon-forward"></span> icon-forward<br />
<span class="icon-fast-forward"></span> icon-fast-forward<br />
<span class="icon-step-forward"></span> icon-step-forward<br />
<span class="icon-eject"></span> icon-eject<br />
<span class="icon-chevron-left"></span> icon-chevron-left<br />
<span class="icon-chevron-right"></span> icon-chevron-right<br />
<span class="icon-plus-sign"></span> icon-plus-sign<br />
<span class="icon-minus-sign"></span> icon-minus-sign<br />
<span class="icon-remove-sign"></span> icon-remove-sign<br />
<span class="icon-ok-sign"></span> icon-ok-sign<br />
<span class="icon-question-sign"></span> icon-question-sign<br />
<span class="icon-info-sign"></span> icon-info-sign<br />
<span class="icon-screenshot"></span> icon-screenshot<br />
<span class="icon-remove-circle"></span> icon-remove-circle<br />
<span class="icon-ok-circle"></span> icon-ok-circle<br />
<span class="icon-ban-circle"></span> icon-ban-circle<br />
<span class="icon-arrow-left"></span> icon-arrow-left<br />
<span class="icon-arrow-right"></span> icon-arrow-right<br />
<span class="icon-arrow-up"></span> icon-arrow-up<br />
<span class="icon-arrow-down"></span> icon-arrow-down<br />
<span class="icon-mail-forward"></span> icon-mail-forward<br />
<span class="icon-share-alt"></span> icon-share-alt<br />
<span class="icon-resize-full"></span> icon-resize-full<br />
<span class="icon-resize-small"></span> icon-resize-small<br />
<span class="icon-plus"></span> icon-plus<br />
<span class="icon-minus"></span> icon-minus<br />
<span class="icon-asterisk"></span> icon-asterisk<br />
<span class="icon-exclamation-sign"></span> icon-exclamation-sign<br />
<span class="icon-gift"></span> icon-gift<br />
<span class="icon-leaf"></span> icon-leaf<br />
<span class="icon-fire"></span> icon-fire<br />
<span class="icon-eye-open"></span> icon-eye-open<br />
<span class="icon-eye-close"></span> icon-eye-close<br />
<span class="icon-warning-sign"></span> icon-warning-sign<br />
<span class="icon-plane"></span> icon-plane<br />
<span class="icon-calendar"></span> icon-calendar<br />
<span class="icon-random"></span> icon-random<br />
<span class="icon-comment"></span> icon-comment<br />
<span class="icon-magnet"></span> icon-magnet<br />
<span class="icon-chevron-up"></span> icon-chevron-up<br />
<span class="icon-chevron-down"></span> icon-chevron-down<br />
<span class="icon-retweet"></span> icon-retweet<br />
<span class="icon-shopping-cart"></span> icon-shopping-cart<br />
<span class="icon-folder-close"></span> icon-folder-close<br />
<span class="icon-folder-open"></span> icon-folder-open<br />
<span class="icon-resize-vertical"></span> icon-resize-vertical<br />
<span class="icon-resize-horizontal"></span> icon-resize-horizontal<br />
<span class="icon-bar-chart"></span> icon-bar-chart<br />
<span class="icon-twitter-sign"></span> icon-twitter-sign<br />
<span class="icon-facebook-sign"></span> icon-facebook-sign<br />
<span class="icon-camera-retro"></span> icon-camera-retro<br />
<span class="icon-key"></span> icon-key<br />
<span class="icon-gears"></span> icon-gears<br />
<span class="icon-cogs"></span> icon-cogs<br />
<span class="icon-comments"></span> icon-comments<br />
<span class="icon-thumbs-up-alt"></span> icon-thumbs-up-alt<br />
<span class="icon-thumbs-down-alt"></span> icon-thumbs-down-alt<br />
<span class="icon-star-half"></span> icon-star-half<br />
<span class="icon-heart-empty"></span> icon-heart-empty<br />
<span class="icon-signout"></span> icon-signout<br />
<span class="icon-linkedin-sign"></span> icon-linkedin-sign<br />
<span class="icon-pushpin"></span> icon-pushpin<br />
<span class="icon-external-link"></span> icon-external-link<br />
<span class="icon-signin"></span> icon-signin<br />
<span class="icon-trophy"></span> icon-trophy<br />
<span class="icon-github-sign"></span> icon-github-sign<br />
<span class="icon-upload-alt"></span> icon-upload-alt<br />
<span class="icon-lemon"></span> icon-lemon<br />
<span class="icon-phone"></span> icon-phone<br />
<span class="icon-unchecked"></span> icon-unchecked<br />
<span class="icon-check-empty"></span> icon-check-empty<br />
<span class="icon-bookmark-empty"></span> icon-bookmark-empty<br />
<span class="icon-phone-sign"></span> icon-phone-sign<br />
<span class="icon-twitter"></span> icon-twitter<br />
<span class="icon-facebook"></span> icon-facebook<br />
<span class="icon-github"></span> icon-github<br />
<span class="icon-unlock"></span> icon-unlock<br />
<span class="icon-credit-card"></span> icon-credit-card<br />
<span class="icon-rss"></span> icon-rss<br />
<span class="icon-hdd"></span> icon-hdd<br />
<span class="icon-bullhorn"></span> icon-bullhorn<br />
<span class="icon-bell"></span> icon-bell<br />
<span class="icon-certificate"></span> icon-certificate<br />
<span class="icon-hand-right"></span> icon-hand-right<br />
<span class="icon-hand-left"></span> icon-hand-left<br />
<span class="icon-hand-up"></span> icon-hand-up<br />
<span class="icon-hand-down"></span> icon-hand-down<br />
<span class="icon-circle-arrow-left"></span> icon-circle-arrow-left<br />
<span class="icon-circle-arrow-right"></span> icon-circle-arrow-right<br />
<span class="icon-circle-arrow-up"></span> icon-circle-arrow-up<br />
<span class="icon-circle-arrow-down"></span> icon-circle-arrow-down<br />
<span class="icon-globe"></span> icon-globe<br />
<span class="icon-wrench"></span> icon-wrench<br />
<span class="icon-tasks"></span> icon-tasks<br />
<span class="icon-filter"></span> icon-filter<br />
<span class="icon-briefcase"></span> icon-briefcase<br />
<span class="icon-fullscreen"></span> icon-fullscreen<br />
<span class="icon-group"></span> icon-group<br />
<span class="icon-link"></span> icon-link<br />
<span class="icon-cloud"></span> icon-cloud<br />
<span class="icon-beaker"></span> icon-beaker<br />
<span class="icon-cut"></span> icon-cut<br />
<span class="icon-copy"></span> icon-copy<br />
<span class="icon-paperclip"></span> icon-paperclip<br />
<span class="icon-paper-clip"></span> icon-paper-clip<br />
<span class="icon-save"></span> icon-save<br />
<span class="icon-sign-blank"></span> icon-sign-blank<br />
<span class="icon-reorder"></span> icon-reorder<br />
<span class="icon-list-ul"></span> icon-list-ul<br />
<span class="icon-list-ol"></span> icon-list-ol<br />
<span class="icon-strikethrough"></span> icon-strikethrough<br />
<span class="icon-underline"></span> icon-underline<br />
<span class="icon-table"></span> icon-table<br />
<span class="icon-magic"></span> icon-magic<br />
<span class="icon-truck"></span> icon-truck<br />
<span class="icon-pinterest"></span> icon-pinterest<br />
<span class="icon-pinterest-sign"></span> icon-pinterest-sign<br />
<span class="icon-google-plus-sign"></span> icon-google-plus-sign<br />
<span class="icon-google-plus"></span> icon-google-plus<br />
<span class="icon-money"></span> icon-money<br />
<span class="icon-caret-down"></span> icon-caret-down<br />
<span class="icon-caret-up"></span> icon-caret-up<br />
<span class="icon-caret-left"></span> icon-caret-left<br />
<span class="icon-caret-right"></span> icon-caret-right<br />
<span class="icon-columns"></span> icon-columns<br />
<span class="icon-sort"></span> icon-sort<br />
<span class="icon-sort-down"></span> icon-sort-down<br />
<span class="icon-sort-up"></span> icon-sort-up<br />
<span class="icon-envelope"></span> icon-envelope<br />
<span class="icon-linkedin"></span> icon-linkedin<br />
<span class="icon-rotate-left"></span> icon-rotate-left<br />
<span class="icon-undo"></span> icon-undo<br />
<span class="icon-legal"></span> icon-legal<br />
<span class="icon-dashboard"></span> icon-dashboard<br />
<span class="icon-comment-alt"></span> icon-comment-alt<br />
<span class="icon-comments-alt"></span> icon-comments-alt<br />
<span class="icon-bolt"></span> icon-bolt<br />
<span class="icon-sitemap"></span> icon-sitemap<br />
<span class="icon-umbrella"></span> icon-umbrella<br />
<span class="icon-paste"></span> icon-paste<br />
<span class="icon-lightbulb"></span> icon-lightbulb<br />
<span class="icon-exchange"></span> icon-exchange<br />
<span class="icon-cloud-download"></span> icon-cloud-download<br />
<span class="icon-cloud-upload"></span> icon-cloud-upload<br />
<span class="icon-user-md"></span> icon-user-md<br />
<span class="icon-stethoscope"></span> icon-stethoscope<br />
<span class="icon-suitcase"></span> icon-suitcase<br />
<span class="icon-bell-alt"></span> icon-bell-alt<br />
<span class="icon-coffee"></span> icon-coffee<br />
<span class="icon-food"></span> icon-food<br />
<span class="icon-file-text-alt"></span> icon-file-text-alt<br />
<span class="icon-building"></span> icon-building<br />
<span class="icon-hospital"></span> icon-hospital<br />
<span class="icon-ambulance"></span> icon-ambulance<br />
<span class="icon-medkit"></span> icon-medkit<br />
<span class="icon-fighter-jet"></span> icon-fighter-jet<br />
<span class="icon-beer"></span> icon-beer<br />
<span class="icon-h-sign"></span> icon-h-sign<br />
<span class="icon-plus-sign-alt"></span> icon-plus-sign-alt<br />
<span class="icon-double-angle-left"></span> icon-double-angle-left<br />
<span class="icon-double-angle-right"></span> icon-double-angle-right<br />
<span class="icon-double-angle-up"></span> icon-double-angle-up<br />
<span class="icon-double-angle-down"></span> icon-double-angle-down<br />
<span class="icon-angle-left"></span> icon-angle-left<br />
<span class="icon-angle-right"></span> icon-angle-right<br />
<span class="icon-angle-up"></span> icon-angle-up<br />
<span class="icon-angle-down"></span> icon-angle-down<br />
<span class="icon-desktop"></span> icon-desktop<br />
<span class="icon-laptop"></span> icon-laptop<br />
<span class="icon-tablet"></span> icon-tablet<br />
<span class="icon-mobile-phone"></span> icon-mobile-phone<br />
<span class="icon-circle-blank"></span> icon-circle-blank<br />
<span class="icon-quote-left"></span> icon-quote-left<br />
<span class="icon-quote-right"></span> icon-quote-right<br />
<span class="icon-spinner"></span> icon-spinner<br />
<span class="icon-circle"></span> icon-circle<br />
<span class="icon-mail-reply"></span> icon-mail-reply<br />
<span class="icon-reply"></span> icon-reply<br />
<span class="icon-github-alt"></span> icon-github-alt<br />
<span class="icon-folder-close-alt"></span> icon-folder-close-alt<br />
<span class="icon-folder-open-alt"></span> icon-folder-open-alt<br />
<span class="icon-expand-alt"></span> icon-expand-alt<br />
<span class="icon-collapse-alt"></span> icon-collapse-alt<br />
<span class="icon-smile"></span> icon-smile<br />
<span class="icon-frown"></span> icon-frown<br />
<span class="icon-meh"></span> icon-meh<br />
<span class="icon-gamepad"></span> icon-gamepad<br />
<span class="icon-keyboard"></span> icon-keyboard<br />
<span class="icon-flag-alt"></span> icon-flag-alt<br />
<span class="icon-flag-checkered"></span> icon-flag-checkered<br />
<span class="icon-terminal"></span> icon-terminal<br />
<span class="icon-code"></span> icon-code<br />
<span class="icon-reply-all"></span> icon-reply-all<br />
<span class="icon-mail-reply-all"></span> icon-mail-reply-all<br />
<span class="icon-star-half-full"></span> icon-star-half-full<br />
<span class="icon-star-half-empty"></span> icon-star-half-empty<br />
<span class="icon-location-arrow"></span> icon-location-arrow<br />
<span class="icon-crop"></span> icon-crop<br />
<span class="icon-code-fork"></span> icon-code-fork<br />
<span class="icon-unlink"></span> icon-unlink<br />
<span class="icon-question"></span> icon-question<br />
<span class="icon-info"></span> icon-info<br />
<span class="icon-exclamation"></span> icon-exclamation<br />
<span class="icon-superscript"></span> icon-superscript<br />
<span class="icon-subscript"></span> icon-subscript<br />
<span class="icon-eraser"></span> icon-eraser<br />
<span class="icon-puzzle-piece"></span> icon-puzzle-piece<br />
<span class="icon-microphone"></span> icon-microphone<br />
<span class="icon-microphone-off"></span> icon-microphone-off<br />
<span class="icon-shield"></span> icon-shield<br />
<span class="icon-calendar-empty"></span> icon-calendar-empty<br />
<span class="icon-fire-extinguisher"></span> icon-fire-extinguisher<br />
<span class="icon-rocket"></span> icon-rocket<br />
<span class="icon-maxcdn"></span> icon-maxcdn<br />
<span class="icon-chevron-sign-left"></span> icon-chevron-sign-left<br />
<span class="icon-chevron-sign-right"></span> icon-chevron-sign-right<br />
<span class="icon-chevron-sign-up"></span> icon-chevron-sign-up<br />
<span class="icon-chevron-sign-down"></span> icon-chevron-sign-down<br />
<span class="icon-html5"></span> icon-html5<br />
<span class="icon-css3"></span> icon-css3<br />
<span class="icon-anchor"></span> icon-anchor<br />
<span class="icon-unlock-alt"></span> icon-unlock-alt<br />
<span class="icon-bullseye"></span> icon-bullseye<br />
<span class="icon-ellipsis-horizontal"></span> icon-ellipsis-horizontal<br />
<span class="icon-ellipsis-vertical"></span> icon-ellipsis-vertical<br />
<span class="icon-rss-sign"></span> icon-rss-sign<br />
<span class="icon-play-sign"></span> icon-play-sign<br />
<span class="icon-ticket"></span> icon-ticket<br />
<span class="icon-minus-sign-alt"></span> icon-minus-sign-alt<br />
<span class="icon-check-minus"></span> icon-check-minus<br />
<span class="icon-level-up"></span> icon-level-up<br />
<span class="icon-level-down"></span> icon-level-down<br />
<span class="icon-check-sign"></span> icon-check-sign<br />
<span class="icon-edit-sign"></span> icon-edit-sign<br />
<span class="icon-external-link-sign"></span> icon-external-link-sign<br />
<span class="icon-share-sign"></span> icon-share-sign<br />
<span class="icon-compass"></span> icon-compass<br />
<span class="icon-collapse"></span> icon-collapse<br />
<span class="icon-collapse-top"></span> icon-collapse-top<br />
<span class="icon-expand"></span> icon-expand<br />
<span class="icon-euro"></span> icon-euro<br />
<span class="icon-eur"></span> icon-eur<br />
<span class="icon-gbp"></span> icon-gbp<br />
<span class="icon-dollar"></span> icon-dollar<br />
<span class="icon-usd"></span> icon-usd<br />
<span class="icon-rupee"></span> icon-rupee<br />
<span class="icon-inr"></span> icon-inr<br />
<span class="icon-yen"></span> icon-yen<br />
<span class="icon-jpy"></span> icon-jpy<br />
<span class="icon-renminbi"></span> icon-renminbi<br />
<span class="icon-cny"></span> icon-cny<br />
<span class="icon-won"></span> icon-won<br />
<span class="icon-krw"></span> icon-krw<br />
<span class="icon-bitcoin"></span> icon-bitcoin<br />
<span class="icon-btc"></span> icon-btc<br />
<span class="icon-file"></span> icon-file<br />
<span class="icon-file-text"></span> icon-file-text<br />
<span class="icon-sort-by-alphabet"></span> icon-sort-by-alphabet<br />
<span class="icon-sort-by-alphabet-alt"></span> icon-sort-by-alphabet-alt<br />
<span class="icon-sort-by-attributes"></span> icon-sort-by-attributes<br />
<span class="icon-sort-by-attributes-alt"></span> icon-sort-by-attributes-alt<br />
<span class="icon-sort-by-order"></span> icon-sort-by-order<br />
<span class="icon-sort-by-order-alt"></span> icon-sort-by-order-alt<br />
<span class="icon-thumbs-up"></span> icon-thumbs-up<br />
<span class="icon-thumbs-down"></span> icon-thumbs-down<br />
<span class="icon-youtube-sign"></span> icon-youtube-sign<br />
<span class="icon-youtube"></span> icon-youtube<br />
<span class="icon-xing"></span> icon-xing<br />
<span class="icon-xing-sign"></span> icon-xing-sign<br />
<span class="icon-youtube-play"></span> icon-youtube-play<br />
<span class="icon-dropbox"></span> icon-dropbox<br />
<span class="icon-stackexchange"></span> icon-stackexchange<br />
<span class="icon-instagram"></span> icon-instagram<br />
<span class="icon-flickr"></span> icon-flickr<br />
<span class="icon-adn"></span> icon-adn<br />
<span class="icon-bitbucket"></span> icon-bitbucket<br />
<span class="icon-bitbucket-sign"></span> icon-bitbucket-sign<br />
<span class="icon-tumblr"></span> icon-tumblr<br />
<span class="icon-tumblr-sign"></span> icon-tumblr-sign<br />
<span class="icon-long-arrow-down"></span> icon-long-arrow-down<br />
<span class="icon-long-arrow-up"></span> icon-long-arrow-up<br />
<span class="icon-long-arrow-left"></span> icon-long-arrow-left<br />
<span class="icon-long-arrow-right"></span> icon-long-arrow-right<br />
<span class="icon-apple"></span> icon-apple<br />
<span class="icon-windows"></span> icon-windows<br />
<span class="icon-android"></span> icon-android<br />
<span class="icon-linux"></span> icon-linux<br />
<span class="icon-dribbble"></span> icon-dribbble<br />
<span class="icon-skype"></span> icon-skype<br />
<span class="icon-foursquare"></span> icon-foursquare<br />
<span class="icon-trello"></span> icon-trello<br />
<span class="icon-female"></span> icon-female<br />
<span class="icon-male"></span> icon-male<br />
<span class="icon-gittip"></span> icon-gittip<br />
<span class="icon-sun"></span> icon-sun<br />
<span class="icon-moon"></span> icon-moon<br />
<span class="icon-archive"></span> icon-archive<br />
<span class="icon-bug"></span> icon-bug<br />
<span class="icon-vk"></span> icon-vk<br />
<span class="icon-weibo"></span> icon-weibo<br />
<span class="icon-renren"></span> icon-renren<br />

</div>

































