<div class="row">
	<div class="small-12 medium-6 large-4 columns">
        <span class="icon-expand"></span> icon-expand</br>
        <span class="icon-expanded"></span> icon-expanded</br>
        <span class="icon-pdf"></span> icon-pdf</br>
        <span class="icon-play"></span> icon-play</br>
        <span class="icon-search"></span> icon-search</br>
        <span class="icon-menu"></span> icon-menu</br> 
	</div>
</div>