
<div class="header-bar row expanded">
	<div class="title-bar row column expanded">
	  	<div class="title-bar-left small-12">
		    <a href="#" class="icon-menu mobile-menu hide-for-large column small-2" data-toggle="offCanvasLeft"></a>
		    <span class="title-bar-title column small-8 large-2">{{> atoms-logo }}</span>
		    <div class="main-nav show-for-large column large-7">{{> molecules-main-nav }}</div>
		    <div class="utility show-for-large column large-3">
		    	{{> molecules-utility-nav }}
		    	{{> molecules-search }}
		    </div>
		    <a href="#" class="icon-search mobile-menu hide-for-large column small-2" data-toggle="offCanvasRight"></a>
		</div>
	</div>
</div>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
	      <div class="off-canvas position-left hide-for-large" id="offCanvasLeft" data-off-canvas>
	      	{{> molecules-main-nav }}
	      	{{> molecules-utility-nav }}
	      </div>
	      <div class="off-canvas position-right hide-for-large" id="offCanvasRight" data-off-canvas data-position="right">
	      	{{> molecules-search }}
	      </div>
	      <div class="off-canvas-content page" id="page" data-off-canvas-content>
				<div role="main">
					{{> molecules-homepage-hero }}
					<article id="article1" class="row column">
						<section class="section">
							<div class="column row">
								<h2>Plan Your Retirement</h2>
								<div class="row">
									<div class="column small-12 large-7">
										{{> molecules-accordion }}
									</div>
									<div class="large-4 small-12 columns">
										{{> molecules-simple-retirement }}
									</div>
								</div>
							</div>
						</section>
						
					</article>
					{{> organisms-striped-container }}
					{{> molecules-footer-nav }}
				</div><!--End role=main-->
      		
      </div>
    </div>
</div>



