/*------------------------------------*\
    $COLOR CLASSES
\*------------------------------------*/

.color-primary-accent{
    background: $primary-accent;
}

.color-secondary-accent{
    background: $secondary-accent;
}

.color-white{
    background: $white;
}

.color-light-gray{
    background: $light-gray;
}

.color-stroke-color{
    background: $stroke-color;
}

.color-dark-gray{
    background: $dark-gray;
}

.color-default-text{
    background: $default-text-color;
}

.color-gray-text{
    background: $gray-text;
}

.color-primary-link{
    background: $primary-link;
}

.color-primary-link-hover{
    background: $primary-link-hover;
}

.color-secondary-link{
    background: $secondary-link;
}

.color-secondary-link-hover{
    background: $secondary-link-hover;
}

.color-tertiary-link{
    background: $tertiary-link;
}

.color-tertiary-link-hover{
    background: $tertiary-link-hover;
}

.color-disabled{
    background: $disabled;
}

.color-error{
    background: $error;
}

.color-valid{
    background: $valid;
}

.color-highlight{
    background: $highlight;
}

.color-social-default{
    background: $social-default;
}

.color-facebook-hover{
    background: $facebook-hover;
}

.color-twitter-hover{
    background: $twitter-hover;
}

.color-gplus-hover{
    background: $gplus-hover;
}

.color-linkedin-hover{
    background: $linkedin-hover;
}

.color-pinterest-hover{
    background: $pinterest-hover;
}

.color-instagram-hover{
    background: $instagram-hover;
}

.color-youtube-hover{
    background: $youtube-hover;
}