/* Headings */
/* Base styles */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	line-height: 0.8;
	font-family: $font-header;
	font-weight: $font-heavy;
}

h1   {
	font-size: 2.5rem;
}

h2   { 
	font-size: 2rem;
	margin-bottom: 1.5rem;
	&.subheading {
		font-size: 1.125rem;
	}
}

h3  { 
	font-size: 1.625rem;
	margin-bottom: 1.5rem;
	&.subheading {
		font-size: 1.125rem;
	}
}

h4   {
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
}

h5 {
	font-size: 1rem; 
}

h6	{ 
	font-size: 0.875rem;
}

/* Subheadings */
.subheading {
	font-family: $font-header;
	font-weight: normal;
	text-transform: none;
}



/************ Medium Breakpoint **************/

@include breakpoint(medium) {

	h1   {
		font-size: 2.75rem;
	}

	h2   { 
		font-size: 2.5rem;
		&.subheading {
			font-size: 1.5rem;
		}
	}

	h3  { 
		font-size: 1.875rem;
		&.subheading {
			font-size: 1.25rem;
		}
	}

}


