
<div class="header-bar row expanded">
	<div class="title-bar row column expanded">
	  	<div class="title-bar-left small-12">
		    <a href="#" class="icon-menu mobile-menu hide-for-large column small-2" data-toggle="offCanvasLeft"></a>
		    <span class="title-bar-title column small-8 large-2">{{> atoms-logo }}</span>
		    <div class="main-nav show-for-large column large-7">{{> molecules-main-nav }}</div>
		    <div class="utility show-for-large column large-3">
		    	{{> molecules-utility-nav }}
		    	{{> molecules-search }}
		    </div>
		    <a href="#" class="icon-search mobile-menu hide-for-large column small-2" data-toggle="offCanvasRight"></a>
		</div>
	</div>
</div>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
	      <div class="off-canvas position-left hide-for-large" id="offCanvasLeft" data-off-canvas>
	      	{{> molecules-main-nav }}
	      	{{> molecules-utility-nav }}
	      </div>
	      <div class="off-canvas position-right hide-for-large" id="offCanvasRight" data-off-canvas data-position="right">
	      	{{> molecules-search }}
	      </div>
	      <div class="off-canvas-content row column" data-off-canvas-content>
      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam turpis augue, feugiat et placerat ut, semper ac nulla. Nullam quis sem sit amet nisl tincidunt tempor id consectetur nisl. Morbi ornare ultricies est sed finibus. Ut pellentesque, metus vel suscipit finibus, nunc arcu volutpat metus, ac tempor odio nulla non erat. Vestibulum eu luctus massa. Nulla facilisi. In tincidunt venenatis lorem ac egestas. Curabitur orci purus, imperdiet sit amet turpis eu, aliquet sodales ex. Cras quis est vitae mauris imperdiet sollicitudin. Curabitur laoreet imperdiet elit eget consectetur. Donec ultrices consequat velit. Ut et quam enim. Maecenas vitae enim lacus. Phasellus suscipit, massa eu tristique vehicula, eros massa ultricies nibh, at euismod quam purus at ligula. Praesent cursus eget sem ut mattis.</p>
			<p>
			Nulla nec purus augue. Nullam ut dapibus sapien. Sed in nunc eleifend, commodo nulla ut, porta arcu. Sed iaculis, sem non sollicitudin venenatis, nibh diam gravida mi, nec vehicula nunc tortor pharetra nisi. Vivamus pulvinar accumsan est, nec tristique massa commodo quis. Nullam at bibendum ipsum. Nam neque lorem, elementum convallis pharetra id, bibendum non purus. Pellentesque et convallis ligula. Cras at luctus massa. Proin sed condimentum mauris. Quisque feugiat a libero elementum ultricies. Nullam suscipit feugiat lacus, sit amet rutrum nibh elementum eu. Aenean dignissim pellentesque tristique.</p>
			<p>
			Sed placerat sapien orci, vitae pharetra ante vehicula vel. Sed vitae laoreet augue. Ut vitae elit aliquet nulla porta posuere sed vel orci. Duis lacinia massa vitae mauris elementum condimentum. Quisque dictum, arcu in eleifend posuere, nibh felis porttitor magna, quis suscipit augue sapien id augue. In non tincidunt felis. Ut finibus suscipit ante. Mauris vitae hendrerit nunc, et laoreet velit. Duis id dui vestibulum, accumsan nisl nec, bibendum nunc. Curabitur commodo rhoncus dolor id pulvinar. Proin ac turpis eu velit viverra elementum non a arcu.</p>
			<p>
			Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eleifend varius urna, quis finibus sem condimentum eu. Sed cursus, nisi ut malesuada iaculis, orci dui ultricies mi, vitae mattis neque diam a ipsum. Suspendisse aliquet est eleifend arcu ullamcorper interdum. Nulla lacus mi, efficitur et gravida eu, auctor ut diam. Nulla non sollicitudin nunc. Nulla nec tincidunt neque. Integer pulvinar placerat neque, sed aliquet sem dictum ac. Ut nec accumsan mi, sit amet scelerisque mi. Nam ut mollis augue, id condimentum nisl.</p>
			<p>
			Sed cursus metus ut dictum luctus. In neque elit, sodales vel euismod a, hendrerit egestas tellus. Duis dictum luctus consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi ut eros odio. Donec ornare enim mi, in interdum risus rhoncus sit amet. Nullam vel sem iaculis, fermentum odio at, eleifend erat. Curabitur varius odio a velit tincidunt aliquet. Sed suscipit urna sit amet molestie auctor. Maecenas sit amet viverra dui.
			</p>
      </div>
    </div>
</div>

