@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic");

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot}');
  src: url('../fonts/fontawesome-webfont.eot?#iefix}') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
//  src: url('#{$FontAwesomePath}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

