{{# content-link }}
<article class="content-link">
	{{# content-link-thumbnail }}
		<a href="{{{url}}}" class="content-link-thumb"><img src="{{{content-link-thumbnail}}}" /></a>
	{{/ content-link-thumbnail }}
	<h5><a href="{{{ url }}}">{{ title }}</a></h5>
	<p>{{ desc }}<p>
</article>
{{/ content-link }}