<div class="column" style="background: #efefef; padding: 30px">
	<h4>Primary Buttons</h4>
    <button>Button Text</button>
    <a class="btn" href="#">Button Text</a>
    <a class="btn-dark" href="#">
        <div class="text">
            Sample Text
        </div>
    </a>
</div>