<div class="column" style="background: #efefef; padding: 30px">
	<h4>Primary Buttons</h4>
	<button>Primary Button</button>
	<button class="wide">Primary Button Wide</button>
	<button class="full">Primary Button Full</button>
	<button disabled>Primary Button Disabled</button>
	<br>

	<h4>Secondary Buttons</h4>
	<button class="secondary-btn">Secondary Button</button>
	<button class="secondary-btn wide">Secondary Button Wide</button>
	<button class="secondary-btn full">Secondary Button Full</button>
	<button class="secondary-btn reversed">Secondary Button Reversed</button>
	<button disabled class="secondary-btn">Secondary Button Disabled</button>
	<!--<p><a href="#" class="secondary-btn">Secondary Button</a></p>
	<p><a href="#" class="secondary-btn secondary-btn--full">Button - full</a></p>
	<p><a href="#" class="secondary-btn secondary-btn--reversed">Button - Reversed</a></p>-->
	<!--<p><a href="#" class="cta cta--active">Button - active</a></p>
	<p><a href="#" class="cta cta--active cta--small">Button - active, small</a></p>-->
	<!--<p><a href="#" class="secondary-btn secondary-btn--disabled">Button - disabled via css</a></p>
	<p><a href="#" class="secondary-btn" disabled>Button - disabled via attribute</a></p>-->

	<h4>Tertiary Buttons / Text Buttons</h4>
	<button class="text-link">Text Button</button>
	<button class="text-link disabled">Text Button Disabled</button>

	<h4>Inputs</h4>
	<input type="submit" value="Input Submit" />
	<input type="button" value="Input Button" />
	<input type="submit" value="Input Submit Full" class="full"/>
</div>
