%svg-common {
	background: url("../../../../images/flags.svg") no-repeat;
}

.svg-Afghanistan {
	@extend %svg-common;
	background-position: 9.090909090909092% 0;
}

.svg-Afghanistan-dims {
	width: 20px;
	height: 14px;
}

.svg-Albania {
	@extend %svg-common;
	background-position: 72.72727272727273% 13.333333333333334%;
}

.svg-Albania-dims {
	width: 20px;
	height: 14px;
}

.svg-Algeria {
	@extend %svg-common;
	background-position: 0 6.666666666666667%;
}

.svg-Algeria-dims {
	width: 20px;
	height: 14px;
}

.svg-Andorra {
	@extend %svg-common;
	background-position: 9.090909090909092% 6.666666666666667%;
}

.svg-Andorra-dims {
	width: 20px;
	height: 14px;
}

.svg-Angola {
	@extend %svg-common;
	background-position: 18.181818181818183% 0;
}

.svg-Angola-dims {
	width: 20px;
	height: 14px;
}

.svg-AntiquaBarbuda {
	@extend %svg-common;
	background-position: 18.181818181818183% 6.666666666666667%;
}

.svg-AntiquaBarbuda-dims {
	width: 20px;
	height: 14px;
}

.svg-Argentina {
	@extend %svg-common;
	background-position: 0 13.333333333333334%;
}

.svg-Argentina-dims {
	width: 20px;
	height: 14px;
}

.svg-Armenia {
	@extend %svg-common;
	background-position: 9.090909090909092% 13.333333333333334%;
}

.svg-Armenia-dims {
	width: 20px;
	height: 14px;
}

.svg-Aruba {
	@extend %svg-common;
	background-position: 18.181818181818183% 13.333333333333334%;
}

.svg-Aruba-dims {
	width: 20px;
	height: 14px;
}

.svg-Australia {
	@extend %svg-common;
	background-position: 0 20%;
}

.svg-Australia-dims {
	width: 20px;
	height: 14px;
}

.svg-Austria {
	@extend %svg-common;
	background-position: 9.090909090909092% 20%;
}

.svg-Austria-dims {
	width: 20px;
	height: 14px;
}

.svg-Azerbaijan {
	@extend %svg-common;
	background-position: 18.181818181818183% 20%;
}

.svg-Azerbaijan-dims {
	width: 20px;
	height: 14px;
}

.svg-Bahrain {
	@extend %svg-common;
	background-position: 27.272727272727273% 0;
}

.svg-Bahrain-dims {
	width: 20px;
	height: 14px;
}

.svg-Bangladesh {
	@extend %svg-common;
	background-position: 27.272727272727273% 6.666666666666667%;
}

.svg-Bangladesh-dims {
	width: 20px;
	height: 14px;
}

.svg-Barbados {
	@extend %svg-common;
	background-position: 27.272727272727273% 13.333333333333334%;
}

.svg-Barbados-dims {
	width: 20px;
	height: 14px;
}

.svg-Belarus {
	@extend %svg-common;
	background-position: 27.272727272727273% 20%;
}

.svg-Belarus-dims {
	width: 20px;
	height: 14px;
}

.svg-Belgium {
	@extend %svg-common;
	background-position: 0 26.666666666666668%;
}

.svg-Belgium-dims {
	width: 20px;
	height: 14px;
}

.svg-Belize {
	@extend %svg-common;
	background-position: 9.090909090909092% 26.666666666666668%;
}

.svg-Belize-dims {
	width: 20px;
	height: 14px;
}

.svg-Benin {
	@extend %svg-common;
	background-position: 18.181818181818183% 26.666666666666668%;
}

.svg-Benin-dims {
	width: 20px;
	height: 14px;
}

.svg-Bermuda {
	@extend %svg-common;
	background-position: 27.272727272727273% 26.666666666666668%;
}

.svg-Bermuda-dims {
	width: 20px;
	height: 14px;
}

.svg-Bhutan {
	@extend %svg-common;
	background-position: 36.36363636363637% 0;
}

.svg-Bhutan-dims {
	width: 20px;
	height: 14px;
}

.svg-Bolivia {
	@extend %svg-common;
	background-position: 36.36363636363637% 6.666666666666667%;
}

.svg-Bolivia-dims {
	width: 20px;
	height: 14px;
}

.svg-BosniaHerzegovina {
	@extend %svg-common;
	background-position: 36.36363636363637% 13.333333333333334%;
}

.svg-BosniaHerzegovina-dims {
	width: 20px;
	height: 14px;
}

.svg-Botswana {
	@extend %svg-common;
	background-position: 36.36363636363637% 20%;
}

.svg-Botswana-dims {
	width: 20px;
	height: 14px;
}

.svg-Brazil {
	@extend %svg-common;
	background-position: 36.36363636363637% 26.666666666666668%;
}

.svg-Brazil-dims {
	width: 20px;
	height: 14px;
}

.svg-Brunei {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.svg-Brunei-dims {
	width: 20px;
	height: 14px;
}

.svg-Bulgaria {
	@extend %svg-common;
	background-position: 9.090909090909092% 33.333333333333336%;
}

.svg-Bulgaria-dims {
	width: 20px;
	height: 14px;
}

.svg-BurkinaFaso {
	@extend %svg-common;
	background-position: 18.181818181818183% 33.333333333333336%;
}

.svg-BurkinaFaso-dims {
	width: 20px;
	height: 14px;
}

.svg-Burundi {
	@extend %svg-common;
	background-position: 27.272727272727273% 33.333333333333336%;
}

.svg-Burundi-dims {
	width: 20px;
	height: 14px;
}

.svg-Cambodia {
	@extend %svg-common;
	background-position: 36.36363636363637% 33.333333333333336%;
}

.svg-Cambodia-dims {
	width: 20px;
	height: 14px;
}

.svg-Cameroon {
	@extend %svg-common;
	background-position: 0 40%;
}

.svg-Cameroon-dims {
	width: 20px;
	height: 14px;
}

.svg-Canada {
	@extend %svg-common;
	background-position: 9.090909090909092% 40%;
}

.svg-Canada-dims {
	width: 20px;
	height: 14px;
}

.svg-CapeVerde {
	@extend %svg-common;
	background-position: 18.181818181818183% 40%;
}

.svg-CapeVerde-dims {
	width: 20px;
	height: 14px;
}

.svg-CaymanIslands {
	@extend %svg-common;
	background-position: 27.272727272727273% 40%;
}

.svg-CaymanIslands-dims {
	width: 20px;
	height: 14px;
}

.svg-CentralAfricanRep {
	@extend %svg-common;
	background-position: 36.36363636363637% 40%;
}

.svg-CentralAfricanRep-dims {
	width: 20px;
	height: 14px;
}

.svg-Chad {
	@extend %svg-common;
	background-position: 45.45454545454545% 0;
}

.svg-Chad-dims {
	width: 20px;
	height: 14px;
}

.svg-Chile {
	@extend %svg-common;
	background-position: 45.45454545454545% 6.666666666666667%;
}

.svg-Chile-dims {
	width: 20px;
	height: 14px;
}

.svg-China {
	@extend %svg-common;
	background-position: 45.45454545454545% 13.333333333333334%;
}

.svg-China-dims {
	width: 20px;
	height: 14px;
}

.svg-Columbia {
	@extend %svg-common;
	background-position: 45.45454545454545% 20%;
}

.svg-Columbia-dims {
	width: 20px;
	height: 14px;
}

.svg-Comoros {
	@extend %svg-common;
	background-position: 45.45454545454545% 26.666666666666668%;
}

.svg-Comoros-dims {
	width: 20px;
	height: 14px;
}

.svg-Congo {
	@extend %svg-common;
	background-position: 45.45454545454545% 33.333333333333336%;
}

.svg-Congo-dims {
	width: 20px;
	height: 14px;
}

.svg-CongoDemRep {
	@extend %svg-common;
	background-position: 45.45454545454545% 40%;
}

.svg-CongoDemRep-dims {
	width: 20px;
	height: 14px;
}

.svg-CostaRica {
	@extend %svg-common;
	background-position: 0 46.666666666666664%;
}

.svg-CostaRica-dims {
	width: 20px;
	height: 14px;
}

.svg-CotedIvoire {
	@extend %svg-common;
	background-position: 9.090909090909092% 46.666666666666664%;
}

.svg-CotedIvoire-dims {
	width: 20px;
	height: 14px;
}

.svg-Croatia {
	@extend %svg-common;
	background-position: 18.181818181818183% 46.666666666666664%;
}

.svg-Croatia-dims {
	width: 20px;
	height: 14px;
}

.svg-Cyprus {
	@extend %svg-common;
	background-position: 27.272727272727273% 46.666666666666664%;
}

.svg-Cyprus-dims {
	width: 20px;
	height: 14px;
}

.svg-CzechRepublic {
	@extend %svg-common;
	background-position: 36.36363636363637% 46.666666666666664%;
}

.svg-CzechRepublic-dims {
	width: 20px;
	height: 14px;
}

.svg-Denmark {
	@extend %svg-common;
	background-position: 45.45454545454545% 46.666666666666664%;
}

.svg-Denmark-dims {
	width: 20px;
	height: 14px;
}

.svg-Djibouti {
	@extend %svg-common;
	background-position: 54.54545454545455% 0;
}

.svg-Djibouti-dims {
	width: 20px;
	height: 14px;
}

.svg-Dominica {
	@extend %svg-common;
	background-position: 54.54545454545455% 6.666666666666667%;
}

.svg-Dominica-dims {
	width: 20px;
	height: 14px;
}

.svg-DominicanRep {
	@extend %svg-common;
	background-position: 54.54545454545455% 13.333333333333334%;
}

.svg-DominicanRep-dims {
	width: 20px;
	height: 14px;
}

.svg-Ecuador {
	@extend %svg-common;
	background-position: 54.54545454545455% 20%;
}

.svg-Ecuador-dims {
	width: 20px;
	height: 14px;
}

.svg-Egypt {
	@extend %svg-common;
	background-position: 54.54545454545455% 26.666666666666668%;
}

.svg-Egypt-dims {
	width: 20px;
	height: 14px;
}

.svg-ElSalvador {
	@extend %svg-common;
	background-position: 54.54545454545455% 33.333333333333336%;
}

.svg-ElSalvador-dims {
	width: 20px;
	height: 14px;
}

.svg-EquatorialGuinea {
	@extend %svg-common;
	background-position: 54.54545454545455% 40%;
}

.svg-EquatorialGuinea-dims {
	width: 20px;
	height: 14px;
}

.svg-Eritrea {
	@extend %svg-common;
	background-position: 54.54545454545455% 46.666666666666664%;
}

.svg-Eritrea-dims {
	width: 20px;
	height: 14px;
}

.svg-Estonia {
	@extend %svg-common;
	background-position: 0 53.333333333333336%;
}

.svg-Estonia-dims {
	width: 20px;
	height: 14px;
}

.svg-Ethiopia {
	@extend %svg-common;
	background-position: 9.090909090909092% 53.333333333333336%;
}

.svg-Ethiopia-dims {
	width: 20px;
	height: 14px;
}

.svg-FaroeIslands {
	@extend %svg-common;
	background-position: 18.181818181818183% 53.333333333333336%;
}

.svg-FaroeIslands-dims {
	width: 20px;
	height: 14px;
}

.svg-Finland {
	@extend %svg-common;
	background-position: 27.272727272727273% 53.333333333333336%;
}

.svg-Finland-dims {
	width: 20px;
	height: 14px;
}

.svg-France {
	@extend %svg-common;
	background-position: 36.36363636363637% 53.333333333333336%;
}

.svg-France-dims {
	width: 20px;
	height: 14px;
}

.svg-Gabon {
	@extend %svg-common;
	background-position: 45.45454545454545% 53.333333333333336%;
}

.svg-Gabon-dims {
	width: 20px;
	height: 14px;
}

.svg-Gambia {
	@extend %svg-common;
	background-position: 54.54545454545455% 53.333333333333336%;
}

.svg-Gambia-dims {
	width: 20px;
	height: 14px;
}

.svg-Georgia {
	@extend %svg-common;
	background-position: 0 60%;
}

.svg-Georgia-dims {
	width: 20px;
	height: 14px;
}

.svg-Germany {
	@extend %svg-common;
	background-position: 9.090909090909092% 60%;
}

.svg-Germany-dims {
	width: 20px;
	height: 14px;
}

.svg-Ghana {
	@extend %svg-common;
	background-position: 18.181818181818183% 60%;
}

.svg-Ghana-dims {
	width: 20px;
	height: 14px;
}

.svg-Gibraltar {
	@extend %svg-common;
	background-position: 27.272727272727273% 60%;
}

.svg-Gibraltar-dims {
	width: 20px;
	height: 14px;
}

.svg-Greece {
	@extend %svg-common;
	background-position: 36.36363636363637% 60%;
}

.svg-Greece-dims {
	width: 20px;
	height: 14px;
}

.svg-Greenland {
	@extend %svg-common;
	background-position: 45.45454545454545% 60%;
}

.svg-Greenland-dims {
	width: 20px;
	height: 14px;
}

.svg-Guadeloupe {
	@extend %svg-common;
	background-position: 54.54545454545455% 60%;
}

.svg-Guadeloupe-dims {
	width: 20px;
	height: 14px;
}

.svg-Guatemala {
	@extend %svg-common;
	background-position: 63.63636363636363% 0;
}

.svg-Guatemala-dims {
	width: 20px;
	height: 14px;
}

.svg-Guinea {
	@extend %svg-common;
	background-position: 63.63636363636363% 6.666666666666667%;
}

.svg-Guinea-dims {
	width: 20px;
	height: 14px;
}

.svg-GuineaBissau {
	@extend %svg-common;
	background-position: 63.63636363636363% 13.333333333333334%;
}

.svg-GuineaBissau-dims {
	width: 20px;
	height: 14px;
}

.svg-Haiti {
	@extend %svg-common;
	background-position: 63.63636363636363% 20%;
}

.svg-Haiti-dims {
	width: 20px;
	height: 14px;
}

.svg-Honduras {
	@extend %svg-common;
	background-position: 63.63636363636363% 26.666666666666668%;
}

.svg-Honduras-dims {
	width: 20px;
	height: 14px;
}

.svg-HongKong {
	@extend %svg-common;
	background-position: 63.63636363636363% 33.333333333333336%;
}

.svg-HongKong-dims {
	width: 20px;
	height: 14px;
}

.svg-Hungary {
	@extend %svg-common;
	background-position: 63.63636363636363% 40%;
}

.svg-Hungary-dims {
	width: 20px;
	height: 14px;
}

.svg-Iceland {
	@extend %svg-common;
	background-position: 63.63636363636363% 46.666666666666664%;
}

.svg-Iceland-dims {
	width: 20px;
	height: 14px;
}

.svg-India {
	@extend %svg-common;
	background-position: 63.63636363636363% 53.333333333333336%;
}

.svg-India-dims {
	width: 20px;
	height: 14px;
}

.svg-Indonesia {
	@extend %svg-common;
	background-position: 63.63636363636363% 60%;
}

.svg-Indonesia-dims {
	width: 20px;
	height: 14px;
}

.svg-Ireland {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.svg-Ireland-dims {
	width: 20px;
	height: 14px;
}

.svg-Israel {
	@extend %svg-common;
	background-position: 9.090909090909092% 66.66666666666667%;
}

.svg-Israel-dims {
	width: 20px;
	height: 14px;
}

.svg-Italy {
	@extend %svg-common;
	background-position: 18.181818181818183% 66.66666666666667%;
}

.svg-Italy-dims {
	width: 20px;
	height: 14px;
}

.svg-Jamaica {
	@extend %svg-common;
	background-position: 27.272727272727273% 66.66666666666667%;
}

.svg-Jamaica-dims {
	width: 20px;
	height: 14px;
}

.svg-Japan {
	@extend %svg-common;
	background-position: 36.36363636363637% 66.66666666666667%;
}

.svg-Japan-dims {
	width: 20px;
	height: 14px;
}

.svg-Jordan {
	@extend %svg-common;
	background-position: 45.45454545454545% 66.66666666666667%;
}

.svg-Jordan-dims {
	width: 20px;
	height: 14px;
}

.svg-Kazakhstan {
	@extend %svg-common;
	background-position: 54.54545454545455% 66.66666666666667%;
}

.svg-Kazakhstan-dims {
	width: 20px;
	height: 14px;
}

.svg-Kenya {
	@extend %svg-common;
	background-position: 63.63636363636363% 66.66666666666667%;
}

.svg-Kenya-dims {
	width: 20px;
	height: 14px;
}

.svg-Kuwait {
	@extend %svg-common;
	background-position: 72.72727272727273% 0;
}

.svg-Kuwait-dims {
	width: 20px;
	height: 14px;
}

.svg-Kyrgyzstan {
	@extend %svg-common;
	background-position: 72.72727272727273% 6.666666666666667%;
}

.svg-Kyrgyzstan-dims {
	width: 20px;
	height: 14px;
}

.svg-Laos {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-Laos-dims {
	width: 20px;
	height: 14px;
}

.svg-Latvia {
	@extend %svg-common;
	background-position: 72.72727272727273% 20%;
}

.svg-Latvia-dims {
	width: 20px;
	height: 14px;
}

.svg-Lebanon {
	@extend %svg-common;
	background-position: 72.72727272727273% 26.666666666666668%;
}

.svg-Lebanon-dims {
	width: 20px;
	height: 14px;
}

.svg-Lesotho {
	@extend %svg-common;
	background-position: 72.72727272727273% 33.333333333333336%;
}

.svg-Lesotho-dims {
	width: 20px;
	height: 14px;
}

.svg-Liberia {
	@extend %svg-common;
	background-position: 72.72727272727273% 40%;
}

.svg-Liberia-dims {
	width: 20px;
	height: 14px;
}

.svg-Libya {
	@extend %svg-common;
	background-position: 72.72727272727273% 46.666666666666664%;
}

.svg-Libya-dims {
	width: 20px;
	height: 14px;
}

.svg-Liechtenstein {
	@extend %svg-common;
	background-position: 72.72727272727273% 53.333333333333336%;
}

.svg-Liechtenstein-dims {
	width: 20px;
	height: 14px;
}

.svg-Lithuania {
	@extend %svg-common;
	background-position: 72.72727272727273% 60%;
}

.svg-Lithuania-dims {
	width: 20px;
	height: 14px;
}

.svg-Luxembourg {
	@extend %svg-common;
	background-position: 72.72727272727273% 66.66666666666667%;
}

.svg-Luxembourg-dims {
	width: 20px;
	height: 14px;
}

.svg-Macedonia {
	@extend %svg-common;
	background-position: 0 73.33333333333333%;
}

.svg-Macedonia-dims {
	width: 20px;
	height: 14px;
}

.svg-Madagascar {
	@extend %svg-common;
	background-position: 9.090909090909092% 73.33333333333333%;
}

.svg-Madagascar-dims {
	width: 20px;
	height: 14px;
}

.svg-Malawi {
	@extend %svg-common;
	background-position: 18.181818181818183% 73.33333333333333%;
}

.svg-Malawi-dims {
	width: 20px;
	height: 14px;
}

.svg-Malaysia {
	@extend %svg-common;
	background-position: 27.272727272727273% 73.33333333333333%;
}

.svg-Malaysia-dims {
	width: 20px;
	height: 14px;
}

.svg-Maldives {
	@extend %svg-common;
	background-position: 36.36363636363637% 73.33333333333333%;
}

.svg-Maldives-dims {
	width: 20px;
	height: 14px;
}

.svg-Mali {
	@extend %svg-common;
	background-position: 45.45454545454545% 73.33333333333333%;
}

.svg-Mali-dims {
	width: 20px;
	height: 14px;
}

.svg-Malta {
	@extend %svg-common;
	background-position: 54.54545454545455% 73.33333333333333%;
}

.svg-Malta-dims {
	width: 20px;
	height: 14px;
}

.svg-Mauritania {
	@extend %svg-common;
	background-position: 63.63636363636363% 73.33333333333333%;
}

.svg-Mauritania-dims {
	width: 20px;
	height: 14px;
}

.svg-Mauritius {
	@extend %svg-common;
	background-position: 72.72727272727273% 73.33333333333333%;
}

.svg-Mauritius-dims {
	width: 20px;
	height: 14px;
}

.svg-Mayotte {
	@extend %svg-common;
	background-position: 81.81818181818181% 0;
}

.svg-Mayotte-dims {
	width: 20px;
	height: 14px;
}

.svg-Mexico {
	@extend %svg-common;
	background-position: 81.81818181818181% 6.666666666666667%;
}

.svg-Mexico-dims {
	width: 20px;
	height: 14px;
}

.svg-Moldova {
	@extend %svg-common;
	background-position: 81.81818181818181% 13.333333333333334%;
}

.svg-Moldova-dims {
	width: 20px;
	height: 14px;
}

.svg-Monaco {
	@extend %svg-common;
	background-position: 81.81818181818181% 20%;
}

.svg-Monaco-dims {
	width: 20px;
	height: 14px;
}

.svg-Mongolia {
	@extend %svg-common;
	background-position: 81.81818181818181% 26.666666666666668%;
}

.svg-Mongolia-dims {
	width: 20px;
	height: 14px;
}

.svg-Montenegro {
	@extend %svg-common;
	background-position: 81.81818181818181% 33.333333333333336%;
}

.svg-Montenegro-dims {
	width: 20px;
	height: 14px;
}

.svg-Morocco {
	@extend %svg-common;
	background-position: 81.81818181818181% 40%;
}

.svg-Morocco-dims {
	width: 20px;
	height: 14px;
}

.svg-Mozambique {
	@extend %svg-common;
	background-position: 81.81818181818181% 46.666666666666664%;
}

.svg-Mozambique-dims {
	width: 20px;
	height: 14px;
}

.svg-Namibia {
	@extend %svg-common;
	background-position: 81.81818181818181% 53.333333333333336%;
}

.svg-Namibia-dims {
	width: 20px;
	height: 14px;
}

.svg-Nepal {
	@extend %svg-common;
	background-position: 81.81818181818181% 60%;
}

.svg-Nepal-dims {
	width: 20px;
	height: 14px;
}

.svg-Netherlands {
	@extend %svg-common;
	background-position: 81.81818181818181% 66.66666666666667%;
}

.svg-Netherlands-dims {
	width: 20px;
	height: 14px;
}

.svg-NetherlandsAntilles {
	@extend %svg-common;
	background-position: 81.81818181818181% 73.33333333333333%;
}

.svg-NetherlandsAntilles-dims {
	width: 20px;
	height: 14px;
}

.svg-NewZealand {
	@extend %svg-common;
	background-position: 0 80%;
}

.svg-NewZealand-dims {
	width: 20px;
	height: 14px;
}

.svg-Nicaragua {
	@extend %svg-common;
	background-position: 9.090909090909092% 80%;
}

.svg-Nicaragua-dims {
	width: 20px;
	height: 14px;
}

.svg-Niger {
	@extend %svg-common;
	background-position: 18.181818181818183% 80%;
}

.svg-Niger-dims {
	width: 20px;
	height: 14px;
}

.svg-Nigeria {
	@extend %svg-common;
	background-position: 27.272727272727273% 80%;
}

.svg-Nigeria-dims {
	width: 20px;
	height: 14px;
}

.svg-Norway {
	@extend %svg-common;
	background-position: 36.36363636363637% 80%;
}

.svg-Norway-dims {
	width: 20px;
	height: 14px;
}

.svg-Oman {
	@extend %svg-common;
	background-position: 45.45454545454545% 80%;
}

.svg-Oman-dims {
	width: 20px;
	height: 14px;
}

.svg-Pakistan {
	@extend %svg-common;
	background-position: 54.54545454545455% 80%;
}

.svg-Pakistan-dims {
	width: 20px;
	height: 14px;
}

.svg-Panama {
	@extend %svg-common;
	background-position: 63.63636363636363% 80%;
}

.svg-Panama-dims {
	width: 20px;
	height: 14px;
}

.svg-Paraguay {
	@extend %svg-common;
	background-position: 72.72727272727273% 80%;
}

.svg-Paraguay-dims {
	width: 20px;
	height: 14px;
}

.svg-Peru {
	@extend %svg-common;
	background-position: 81.81818181818181% 80%;
}

.svg-Peru-dims {
	width: 20px;
	height: 14px;
}

.svg-Philippines {
	@extend %svg-common;
	background-position: 0 86.66666666666667%;
}

.svg-Philippines-dims {
	width: 20px;
	height: 14px;
}

.svg-Poland {
	@extend %svg-common;
	background-position: 9.090909090909092% 86.66666666666667%;
}

.svg-Poland-dims {
	width: 20px;
	height: 14px;
}

.svg-Portugal {
	@extend %svg-common;
	background-position: 18.181818181818183% 86.66666666666667%;
}

.svg-Portugal-dims {
	width: 20px;
	height: 14px;
}

.svg-PuertoRico {
	@extend %svg-common;
	background-position: 27.272727272727273% 86.66666666666667%;
}

.svg-PuertoRico-dims {
	width: 20px;
	height: 14px;
}

.svg-Qatar {
	@extend %svg-common;
	background-position: 36.36363636363637% 86.66666666666667%;
}

.svg-Qatar-dims {
	width: 20px;
	height: 14px;
}

.svg-Romania {
	@extend %svg-common;
	background-position: 45.45454545454545% 86.66666666666667%;
}

.svg-Romania-dims {
	width: 20px;
	height: 14px;
}

.svg-Russia {
	@extend %svg-common;
	background-position: 54.54545454545455% 86.66666666666667%;
}

.svg-Russia-dims {
	width: 20px;
	height: 14px;
}

.svg-Rwanda {
	@extend %svg-common;
	background-position: 63.63636363636363% 86.66666666666667%;
}

.svg-Rwanda-dims {
	width: 20px;
	height: 14px;
}

.svg-SaoTomePrincipe {
	@extend %svg-common;
	background-position: 72.72727272727273% 86.66666666666667%;
}

.svg-SaoTomePrincipe-dims {
	width: 20px;
	height: 14px;
}

.svg-SaudiArabia {
	@extend %svg-common;
	background-position: 81.81818181818181% 86.66666666666667%;
}

.svg-SaudiArabia-dims {
	width: 20px;
	height: 14px;
}

.svg-Senegal {
	@extend %svg-common;
	background-position: 90.9090909090909% 0;
}

.svg-Senegal-dims {
	width: 20px;
	height: 14px;
}

.svg-Serbia {
	@extend %svg-common;
	background-position: 90.9090909090909% 6.666666666666667%;
}

.svg-Serbia-dims {
	width: 20px;
	height: 14px;
}

.svg-Seychelles {
	@extend %svg-common;
	background-position: 90.9090909090909% 13.333333333333334%;
}

.svg-Seychelles-dims {
	width: 20px;
	height: 14px;
}

.svg-SierraLeone {
	@extend %svg-common;
	background-position: 90.9090909090909% 20%;
}

.svg-SierraLeone-dims {
	width: 20px;
	height: 14px;
}

.svg-Singapore {
	@extend %svg-common;
	background-position: 90.9090909090909% 26.666666666666668%;
}

.svg-Singapore-dims {
	width: 20px;
	height: 14px;
}

.svg-Slovakia {
	@extend %svg-common;
	background-position: 90.9090909090909% 33.333333333333336%;
}

.svg-Slovakia-dims {
	width: 20px;
	height: 14px;
}

.svg-Slovenia {
	@extend %svg-common;
	background-position: 90.9090909090909% 40%;
}

.svg-Slovenia-dims {
	width: 20px;
	height: 14px;
}

.svg-Somalia {
	@extend %svg-common;
	background-position: 90.9090909090909% 46.666666666666664%;
}

.svg-Somalia-dims {
	width: 20px;
	height: 14px;
}

.svg-SouthAfrica {
	@extend %svg-common;
	background-position: 90.9090909090909% 53.333333333333336%;
}

.svg-SouthAfrica-dims {
	width: 20px;
	height: 14px;
}

.svg-SouthKorea {
	@extend %svg-common;
	background-position: 90.9090909090909% 60%;
}

.svg-SouthKorea-dims {
	width: 20px;
	height: 14px;
}

.svg-Spain {
	@extend %svg-common;
	background-position: 90.9090909090909% 66.66666666666667%;
}

.svg-Spain-dims {
	width: 20px;
	height: 14px;
}

.svg-SriLanka {
	@extend %svg-common;
	background-position: 90.9090909090909% 73.33333333333333%;
}

.svg-SriLanka-dims {
	width: 20px;
	height: 14px;
}

.svg-StHelena {
	@extend %svg-common;
	background-position: 90.9090909090909% 80%;
}

.svg-StHelena-dims {
	width: 20px;
	height: 14px;
}

.svg-StLucia {
	@extend %svg-common;
	background-position: 90.9090909090909% 86.66666666666667%;
}

.svg-StLucia-dims {
	width: 20px;
	height: 14px;
}

.svg-StVincentGrenadines {
	@extend %svg-common;
	background-position: 0 93.33333333333333%;
}

.svg-StVincentGrenadines-dims {
	width: 20px;
	height: 14px;
}

.svg-Swaziland {
	@extend %svg-common;
	background-position: 9.090909090909092% 93.33333333333333%;
}

.svg-Swaziland-dims {
	width: 20px;
	height: 14px;
}

.svg-Sweden {
	@extend %svg-common;
	background-position: 18.181818181818183% 93.33333333333333%;
}

.svg-Sweden-dims {
	width: 20px;
	height: 14px;
}

.svg-Switzerland {
	@extend %svg-common;
	background-position: 27.272727272727273% 93.33333333333333%;
}

.svg-Switzerland-dims {
	width: 20px;
	height: 14px;
}

.svg-Taiwan {
	@extend %svg-common;
	background-position: 36.36363636363637% 93.33333333333333%;
}

.svg-Taiwan-dims {
	width: 20px;
	height: 14px;
}

.svg-Tajikistan {
	@extend %svg-common;
	background-position: 45.45454545454545% 93.33333333333333%;
}

.svg-Tajikistan-dims {
	width: 20px;
	height: 14px;
}

.svg-Tanzania {
	@extend %svg-common;
	background-position: 54.54545454545455% 93.33333333333333%;
}

.svg-Tanzania-dims {
	width: 20px;
	height: 14px;
}

.svg-Thailand {
	@extend %svg-common;
	background-position: 63.63636363636363% 93.33333333333333%;
}

.svg-Thailand-dims {
	width: 20px;
	height: 14px;
}

.svg-Togo {
	@extend %svg-common;
	background-position: 72.72727272727273% 93.33333333333333%;
}

.svg-Togo-dims {
	width: 20px;
	height: 14px;
}

.svg-TrinadadTobago {
	@extend %svg-common;
	background-position: 81.81818181818181% 93.33333333333333%;
}

.svg-TrinadadTobago-dims {
	width: 20px;
	height: 14px;
}

.svg-Tunisia {
	@extend %svg-common;
	background-position: 90.9090909090909% 93.33333333333333%;
}

.svg-Tunisia-dims {
	width: 20px;
	height: 14px;
}

.svg-Turkey {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-Turkey-dims {
	width: 20px;
	height: 14px;
}

.svg-Turkmenistan {
	@extend %svg-common;
	background-position: 100% 6.666666666666667%;
}

.svg-Turkmenistan-dims {
	width: 20px;
	height: 14px;
}

.svg-UAE {
	@extend %svg-common;
	background-position: 100% 13.333333333333334%;
}

.svg-UAE-dims {
	width: 20px;
	height: 14px;
}

.svg-UK {
	@extend %svg-common;
	background-position: 100% 20%;
}

.svg-UK-dims {
	width: 20px;
	height: 14px;
}

.svg-USA {
	@extend %svg-common;
	background-position: 100% 26.666666666666668%;
}

.svg-USA-dims {
	width: 20px;
	height: 14px;
}

.svg-Uganda {
	@extend %svg-common;
	background-position: 100% 33.333333333333336%;
}

.svg-Uganda-dims {
	width: 20px;
	height: 14px;
}

.svg-Ukraine {
	@extend %svg-common;
	background-position: 100% 40%;
}

.svg-Ukraine-dims {
	width: 20px;
	height: 14px;
}

.svg-Uruguay {
	@extend %svg-common;
	background-position: 100% 46.666666666666664%;
}

.svg-Uruguay-dims {
	width: 20px;
	height: 14px;
}

.svg-Uzbekistan {
	@extend %svg-common;
	background-position: 100% 53.333333333333336%;
}

.svg-Uzbekistan-dims {
	width: 20px;
	height: 14px;
}

.svg-Venezuela {
	@extend %svg-common;
	background-position: 100% 60%;
}

.svg-Venezuela-dims {
	width: 20px;
	height: 14px;
}

.svg-Vietnam {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
}

.svg-Vietnam-dims {
	width: 20px;
	height: 14px;
}

.svg-VirginIslandsUK {
	@extend %svg-common;
	background-position: 100% 73.33333333333333%;
}

.svg-VirginIslandsUK-dims {
	width: 20px;
	height: 14px;
}

.svg-VirginIslandsUS {
	@extend %svg-common;
	background-position: 100% 80%;
}

.svg-VirginIslandsUS-dims {
	width: 20px;
	height: 14px;
}

.svg-Yemen {
	@extend %svg-common;
	background-position: 100% 86.66666666666667%;
}

.svg-Yemen-dims {
	width: 20px;
	height: 14px;
}

.svg-Zambia {
	@extend %svg-common;
	background-position: 100% 93.33333333333333%;
}

.svg-Zambia-dims {
	width: 20px;
	height: 14px;
}

.svg-Zimbabwe {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-Zimbabwe-dims {
	width: 20px;
	height: 14px;
}

