<div class="main-nav-wrapper">
	<ul class="inline-list">
		<li>
			<a href="#">Health &amp; Disability</a>
		</li>
		<li>
			<a href="#">Retirement &amp; Finance</a>
		</li>
		<li>
			<a href="#">Education &amp; Career Development</a>
		</li>
	</ul>
</div>