<div class="hero-button-block">
    <a class="btn-dark" href="#">
        <div class="text">
            Get a benefits overview
        </div>
    </a>
    <a class="btn-dark" href="#">
        <div class="text">
            Download forms
        </div>
    </a>
    <a class="btn-dark" href="#">
        <div class="text">
            Get financial assistance
        </div>
    </a>
    <a class="btn-dark" href="#">
        <div class="text">
            Manage my health
        </div>
    </a>
    <a class="btn-dark" href="#">
        <div class="text">
            Get a benefits overview
        </div>
    </a>
    <a class="btn-dark" href="#">
        <div class="text">
            Pursue education or career development
        </div>
    </a>
</div>