<h2>ZURB Foundation 6</h2>
<p>We are buidling off of Zurb Foundation 6</p>
<p>For development purposes, the full stack is included in the gulp build.  It is recommended to trim down these dependencies prior to production</p>
<p>Documention and snippets for foundation can be found at <a href="http://foundation.zurb.com/sites/docs/" target="_blank">http://foundation.zurb.com/sites/docs/</a></p>