{{# video-item }}
<figure class="video">
	<div class="thumb-container">
		<a href="{{{ url }}}" class="thumb">
			<span class="overlay"></span>
			<span class="play-button"></span>
			{{> atoms-video-16x9 }}
		</a>
	</div>
	<figcaption><a href="{{{ url }}}">{{title}}</a> <span>| {{length}}</span></figcaption>
</figure>
{{/ video-item}}