{{# collection-item }}
<div class="grid-list-item" data-equalizer-watch>
	<figure class="collection-item" data-image-width="{{ width }}" data-image-height="{{ height }}" data-image-crop="true">
		<a href="{{{ targetURL }}}">
			<img data-interchange="[{{{ imageURL }}}?wid=270&hei=270&fit=crop, small], [{{{ imageURL }}}?wid=304&hei=304&fit=crop, medium], [{{{ imageURL }}}?wid=280&hei=280&fit=crop, large] ">
		</a>
		<figcaption>
			<a href="{{{ targetURL }}}">{{ title }}</a>
			<table class="summary">
				{{# table }}
				<tbody>
					{{# table-rows }}
					<tr>
						<th>{{ thead }}</th>
						<td>
							{{# tdList }}
							<ul>
								{{# tdListItems }}
									<li>{{ value }}</li>
								{{/ tdListItems }}
							</ul>
							{{/ tdList }}
						</td>
					</tr>
					{{/ table-rows }}
				</tbody>
				{{/ table }}
			</table>
		</figcaption>
	</figure>
</div>
{{/ collection-item }}