<div class="sku-summary-wrapper">
	<table class="responsive sku-summary">
		<thead>
			<tr>
				<th>Edge Profile</th>
				<th>Dimensions</th>
				<th>Acoustics</th>
				<th>Perforation</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>Square Tegular</td>
			<td>24" x 24" x 5/16"<span class="icon-square-panel"></span></td>
			<td>0.1 NRC</td>
			<td>M1 Unperforated</td>
		</tr>
		</tbody>
	</table>
</div>
