<table class="summary">
	<tbody>
		<tr>
			<th>Sound Reduction (NRC)</th>
			<td>0.1-0.9</td>
		</tr>
		<tr>
			<th>Sound Attenuation (CAC)</th>
			<td>36-40 dB</td>
		</tr>
		<tr>
			<th>Light Reflectance</th>
			<td>Up to 77%</td>
		</tr>
		<tr>
			<th>Recycled Content</th>
			<td>Up to 25%</td>
		</tr>
		<tr>
			<th>Sag/Humidity Resistance</th>
			<td>100%</td>
		</tr>
		<tr>
			<th>Ceiling-to-Ceiling Certification</th>
			<td>Bronze</td>
		</tr>
		<tr>
			<th>Fire Rating</th>
			<td>Class A</td>
		</tr>
		<tr class="durability">
			<th>Durability</th>
			<td>Water Repellant, Soil Resistant, Impact Resistant, Scratch Resistant, Scrubbable, Washable</td>
		</tr>
	</tbody>
</table>