<h4>Physical Data</h4>
<table class="specs-table">
	<tbody>
		<tr>
			<th>Material</th>
			<td> Metal, Formed</td>
		</tr>
		<tr>
			<th>Texture</th>
			<td>Smooth</td>
		</tr>
		<tr>
			<th>Pattern</th>
			<td>No Pattern</td>
		</tr>
		<tr>
			<th>Surface Finish</th>
			<td>Factory-applied powder coated finish</td>
		</tr>
		<tr>
			<th>Weight</th>
			<td>0.97 (lbs/sq ft)</td>
		</tr>
		<tr>
			<th>Sq Ft (Sq Ft / Carton)</th>
			<td>64</td>
		</tr>
		<tr>
			<th>ASTM Classification</th>
			<td>Type: XX, Form: N/A, Pattern: G</td>
		</tr>
		<tr>
			<th>Insulation Value</th>
			<td>R Factor-BTU: N/A, R Factor-Watts: N/A</td>
		</tr>
	</tbody>
</table>
			
