<h4>Performance</h4>
<table class="specs-table with-icons">
	<tbody>
		<tr class="category">
			<th colspan="3">
				<table>
					<tr>
						<th><span class="icon-acoustics"></span></th>
						<th>Acoustics</th>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th>Sound Reduction</th>
						<td>0.1</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th>Sound Attenuation (CAC)</th>
						<td>36 dB</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th>Articulation Class</th>
						<td>N/A</td>
					</tr>
				</table>
			</th>
		</tr>
		<tr class="category">
			<th colspan="3">
				<table>
					<tr>
						<th><span class="icon-fire"></span>
						<th>Fire</th>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th>Fire Rating</th>
						<td>Class A (HPVA)</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th>Fire Resistance</th>
						<td>FireGuard</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th>Fire Reaction</th>
						<td>Conforming</td>
					</tr>
				</table>
			</th>
		</tr>
		<tr>
			<th><span class="icon-light-reflectance"></span></th>
			<th>Light Reflectance</th>
			<td>Up to 77%</td>
		</tr>
		<tr>
			<th><span class="icon-recycle-circle"></span></th>
			<th>Recycled Content</th>
			<td>Up to 25%</td>
		</tr>
		<tr>
			<th><span class="icon-humidity"></span></th>
			<th>Sag/Humidity Resistance</th>
			<td>100%</td>
		</tr>
		<tr>
			<th><span class="icon-anti-microbial"></span></th>
			<th><a data-open="anti-microbial-details" href="#">Anti-Microbial</a></th>
			<td>BioBlock</td>
			<div class="reveal" id="anti-microbial-details" data-reveal>
				<div class="modal-content">
				  <!--Modal content goes here. Below is simply placeholder. Do not keep the placeholder div!-->
				  <div class="placeholder-content">
				  	<span>Additional information about anti-microbial properties.</span>
				  </div>
				  <!--End placeholder. Replace all content between these comments with modal content-->
				</div>
				<button class="close-button" data-close aria-label="Close reveal" type="button">
			    	<span aria-hidden="true" class="icon-x"></span>
			  	</button>
			</div>
		</tr>
		<tr>
			<th><span class="icon-durability"></span></th>
			<th><a data-open="durability-details" href="#">Durability</a></th>
			<td>
				<ul>
					<li><span class="icon-dirt-resist"></span> Soil Resistance</li>
					<li><span class="icon-washability"></span> Washability</li>
					<li><span class="icon-scrubability"></span> Scrubbability</li>
				</ul>
			</td>
			<div class="reveal" id="durability-details" data-reveal>
				<div class="modal-content">
				  <!--Modal content goes here. Below is simply placeholder. Do not keep the placeholder div!-->
				  <div class="placeholder-content">
				  	<span>Additional information about durability.</span>
				  </div>
				  <!--End placeholder. Replace all content between these comments with modal content-->
				</div>
				<button class="close-button" data-close aria-label="Close reveal" type="button">
			    	<span aria-hidden="true" class="icon-x"></span>
			  	</button>
			</div>
		</tr>

	</tbody>
</table>
		