/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}

/* UTILITY NAV */
.utility-nav {
	@extend .hide-small;

	@include breakpoint(medium) {
		ul.inline-list {
			font-family: $font;
			text-transform: uppercase;
			margin: 0;
			text-align: right;
			display: table;
			width: 100%;
			li {
				display: table-cell;
				text-align: center;
				padding: 0 0.45rem;
				a {
					font-size: rem-calc(12);
					text-align: center;
				}
				&.cart {
					position: relative;
					.badge {
						position: absolute;
						top: -0.85rem;
						right: 0;
						text-align: center;
						width: 100%;
					}
				}
			}
		}
		
		[class^="icon-"], [class*=" icon-"], .icon {
			display: block;
			font-size: 1.25rem;
		}
	}

	@include breakpoint(large) {
		ul.inline-list {
			li {
				a {
					font-size: rem-calc(13);
				}
			}
		}
	}

	@media all and (min-width: $bp-xl) {
		ul.inline-list {
			li {
				&.cart {
					a {
						&:hover, &:focus {
							.badge {
								background: $primary-link-hover;
							}
						}
					}
					.badge {
						position: static;
						padding: 0.3125rem 0.65rem;
						background: $primary-accent;
						color: $white;
						font-weight: $font-heavy;
						border-radius: $global-radius;
						display: inline-block;
						width: auto;
						margin-left: 0.5rem;
					}
				}
			}
			[class^="icon-"], [class*=" icon-"], .icon {
				display: inline-block;
				font-size: 1.45rem;
				position: relative;
				top: 0.4rem;
				padding-right: 0.5rem;
			}
		}
	}
}
/* END UTILITY NAV*/


/************* TOPHAT NAV *************/
/* layout*/
.tophat-nav {
	@include grid-row;
	min-width: rem-calc(306);
	.site-nav, .site-controls {
		@include grid-column(6);
		width: auto;
	}
	.site-nav {
		@include breakpoint(medium) {
			@include grid-column(3);
		}
		@include breakpoint(large) {
			@include grid-column(6);
		}
	}
	.site-controls {
		@include breakpoint(medium) {
			@include grid-column(9);
		}
		@include breakpoint(large) {
			@include grid-column(6);
		}
	}
}
/* end layout*/

.tophat .tophat-nav {
	ul {
		margin: 0;
		li {
			margin: 0;
			a {
				display: block;
				padding: 0.5rem 0;
				color: $gray-text;
			}
		}
	}
	.site-nav {
		ul li {
			display: none;
			font-family: $font;
			text-transform: uppercase;
			font-size: rem-calc(13);
			&:first-child {
				display: inline-block;
			}
			a {
				&:after {
					@include iconBase;
					content:'\e93a';
					font-size: rem-calc(10);
					margin-left: 0.5rem;
				}
			}
		}
	}
	.site-controls {
		text-align: right;
		ul li {
			border-left: 1px solid $stroke-color;
			text-align: center;
			a {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
				font-size: 1.15rem;
				text-align: center;
				line-height: 1.15;
				font-family: $font;
				text-transform: uppercase;
			}
		}
		.icon-phone {
			margin-right: 0;
		}
		.badge {
			background: transparent;
			color: $gray-text;
			padding: 0;
			min-width: 0;
			font-family: $font;
			text-align: right;
			font-size: 1rem;
			line-height: 1;
			margin-left: 0.25rem;
			position:relative;
			top: -0.1rem;
		}
		[class^="icon-"], [class*=" icon-"], .icon {
			position:relative;
			top: 0.1rem;
		}
		.dropdown-arrow {
			&:after {
				@include iconBase;
				content:'\e93a';
				font-size: rem-calc(10);
				margin-left: 0.5rem;
			}
		}
	}

	@include breakpoint(medium) {

		.site-nav {
			ul li {
				font-size: rem-calc(12);
			}
		}

		.site-controls {
			ul li {
				&:last-child a{
					padding-right: 0;
				}
				a {
					padding-right:1rem;
					padding-left: 1rem;
					font-size: rem-calc(12);
				}
			}
			.icon-phone, .icon-globe {
				margin-right: 0.5rem;
			}
		}
	} 

	@include breakpoint(large) {
		.site-nav {
			ul li {
				display: inline-block;
				font-size: rem-calc(13);
				&:first-child {
					a {
						background: $white;
						border-right: 1px solid $stroke-color;
						border-left: 1px solid $stroke-color;
						border-bottom: 1px solid $white;
						margin-bottom: -1px;
					}
				}
				a {
					padding-right: 1rem;
					padding-left: 1rem;
					&:after {
						content: none;
					}
				}
			}
		}

		.site-controls {
			ul li a{
				font-size: rem-calc(13);
				line-height: 1.4;
			}
		}
	}
}
/************** END TOPHAT NAV **************/

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}