<div class="hero" style="background-image: url(../../images/hero-background.jpg)">
    <div class="row">
        <header>
            <p class="subheading">Welcome, Omar!</span>
            <h1>
                What are you</br>
                here to do?
            </h1>
        </header>
        {{> molecules-hero-button-block }}
    </div>
</div>