{{# carousel-item }}
<div class="block block-carousel-item">
	<a href="{{{ targetURL }}}">
		<div class="carousel-thumbnail">
			<div class="carousel-thumbnail-row">
				<div class="b-thumb">
					<img src="{{{ imageURL}}}" alt="product thumbnail medium rendition" />
				</div>
			</div>
			<div class="carousel-thumbnail-row">
				<div class="b-text">
					{{ title }}
				</div>
			</div>
		</div>
	</a>
</div>
{{/ carousel-item}}