<div class="row summary-box">
	<div class="small-12 columns">
		<ul class="features-list">
			<li><span class="icon-warranty"></span> 30 Year Warranty</li>
			<li><span class="icon-acoustics"></span> Total Acoustics</li>
			<li><span class="icon-fire"></span> FireGuard</li>
			<li><span class="icon-anti-microbial"></span> BioBlock</li>
			<li><span class="icon-airquality"></span> AirGuard</li>
		</ul>
	</div>
</div>