{{# action-box }}
<section class="action-box">
	<div class="column small-12 medium-3 red-border-right">{{# action-title }}<h4>{{ action-title }}</h4>{{/ action-title }}</div>
	<div class="column small-12 medium-9 center">
		{{# button-items }}
			<button>{{button-title}}</button>
		{{/ button-items }}
	</div>
</section>
{{/ action-box }}