<section class="horizontal-link-list">
  {{# linkList}}
  <ul>
  {{# linkItems}}
    <li>{{# url}}<a href="{{{url}}}">{{/ url}}{{{title}}}{{# url}}</a>{{/ url}}</li>
  {{/ linkItems}}
  </ul>
  {{/ linkList}}
</section>