<!-- AddThis Button BEGIN -->
<div id="topIcons" class="topIcons">
	<div ocloc="header" class="addthis_toolbox  social">
		<ul class="custom_images social-list">
			<li class="hide-for-small-only">
				<a class="addthis_button_facebook hide-for-small-only"><span class="icon" /></a>
				
			</li>
			<li class="hide-for-small-only">
				<a class="addthis_button_twitter"><span class="icon" /></a>
				
			</li>
			<li class="hide-for-small-only">
				<a class="addthis_button_google_plusone" g:plusone:annotation="none" g:plusone:size="small"><span class="icon" /></a>
			</li>
			<li>
				<a class="addthis_button_compact"><span class="show-for-small-only share-label">Share </span><span class="icon" /></a>
				
			</li>
			{{!-- <a class="addthis_button_pinterest"><span class="icon-pinterest-square" /></a> --}}
		</ul>
	</div>
</div>
<!-- AddThis Button END -->
<script type="text/javascript" disabled-src="//s7.addthis.com/js/300/addthis_widget.js"></script>