{{# downloadLink }}
	<div>
		<a href="{{ url }}" class="download-link download-link--{{ type }}">{{ file-name }}</a>
		<ul class="file-info">
			<li>{{ type }}</li>
			<li>{{ size }}</li>
		</ul>
	</div>
{{/ downloadLink}}
