{{# cart }}
	<a href="#cart" title="You have {{ items.length }} items in your cart">
		<span class="icon-cart"></span>
		<span class="hide-small"><span class="hide-med">My </span>Cart</span>
		<span class="badge">{{ items.length }}</span>
	</a>
{{/ cart }}