<div class="dropdown" data-toggle="dropdown-language-{{ id }}" >
	<a href="#language" class="dropdown-arrow" >{{ user.language.abv }}</a>
	<div id="dropdown-language-{{ id }}"  class="dropdown-pane bottom text-center" data-dropdown data-hover="true">
		Filler content for language selector.
	</div>
</div>