<div class="my-account dropdown" data-toggle="dropdown-my-account{{ id }}">
	<a href="#MyAccount"><span class="icon-avatar"></span><span class="hide-small"><span class="hide-med">My </span>Account</span></a>
	<div id="dropdown-my-account{{ id }}"  class="dropdown-pane" data-dropdown data-hover="true">
		Filler content for "My Account" dropdown.
	</div>
</div>