<p><a data-open="exampleModal1" href="#">Click me for a modal</a></p>

<div class="reveal" id="exampleModal1" data-reveal>
	<div class="modal-content">
	  <!--Modal content goes here. Below is simply placeholder. Do not keep the placeholder div!-->
	  <div class="placeholder-content">
	  	<span>Modal content goes here.</span>
	  </div>
	  <!--End placeholder. Replace all content between these comments with modal content-->
	</div>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
    	<span aria-hidden="true" class="icon-x"></span>
  	</button>
</div>