{{# content-card }}
<div class="content-card">
    <header>
        <h3>
            {{ title }}
        </h3>
        <div class="amount">{{ account-balance }}</div>
        <p class="footnotes">{{ fine-print }}</p>
        <p class="par">{{ text }}</p>
    </header>
    
    <a href="#" class="btn">{{ button-text }}</a>
</div>
{{/ content-card }}