<div class="simple-retirement">
    <header>
        <h4>
            When should I start withdrawing from my retirement accounts?
        </h4>
        <p class="subheading">Start withdrawing at age:</p>
    </header>
    <form>
        <span class="range-min range-value">45</span>
        <span class="range-max range-value">65</span>
        <span class="range-current range-value"></span>
        <input type="range" data-simple-retirement-range name="withdrawal-age" min="45" max="65" />
        <output for="withdrawal-age"></output>
        <p class="footnotes">Estimated annual income (given 5% return)</p>
    </form>
    <a href="#" class="btn">Detailed Retirment Calculator</a>
</div>