<div class="content-card small" data-equalizer-watch>
    <header>
        <h3 class="seperator">
            Need other assistance?
        </h3>
        <p class="par">We will do whatever we can to assist you lorem ipsum.</p>
    </header>

    <a href="#" class="btn">Contact Us</a>
</div>