<div class="content-card small" data-equalizer-watch>
    <header>
        <h3 class="seperator">
            Additional Retirement Resources
        </h3>
    </header>
    <ul class="link-list">
        <li><a href="#">Retirement &amp; Finance Overview</a></li>
        <li><a href="#">Other Retirment Subpage</a></li>
    </ul>
</div>