<div class="content-card small" data-equalizer-watch>
    <header>
        <h3 class="seperator">
            Need Help on Retirement Forms?
        </h3>
    </header>
    <span class="bold-text">Call: 1-800-123-1234</span>
</div>