<div class="video">
    <div class="aspect-control extra-wide">
        <video data-responsive-video allowfullscreen="true" data-videol="../../images/sample-video.mp4" preload="none" poster="../../images/video-poster.jpg">
            <source src="../../images/sample-video.mp4" type="video/mp4">
        </video>
        <div class="click-zone"></div>
        <div class="play-pause-button">
            <span class="play-button"></span>
        </div>
    </div>
</div>